* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  width: 100%;
}

body {
  background: linear-gradient(41deg, #3c3b6e, #772f51, #b22234);
  background-size: 600% 600%;

  -webkit-animation: gradient 15s ease infinite;
  -moz-animation: gradient 15s ease infinite;
  -o-animation: gradient 15s ease infinite;
  animation: gradient 15s ease infinite;

  align-items: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  overflow: auto;
  width: 100vw;
}

h6,
p {
  color: #fff;
}

input.form-control {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.4);
  color: #fff;
}

input.form-control:focus {
  background-color: transparent;
  border: 1px solid rgba(134, 183, 254, 1);
  color: #fff;
  box-shadow: 0px 0px 0px 1px rgba(134, 183, 254, 1);
  -webkit-box-shadow: 0px 0px 0px 1px rgba(134, 183, 254, 1);
  -moz-box-shadow: 0px 0px 0px 1px rgba(134, 183, 254, 1);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.4);
  transition: background-color 2147483647s;
  box-shadow: unset;
  -webkit-box-shadow: unset;
  -webkit-text-fill-color: #fff;
}

label {
  color: rgba(220, 220, 220);
  font-weight: 200;
}

.container {
  min-width: 200px;
}

.success-modal .modal-content {
  background-color: rgb(12, 62, 39);
  border: 1px solid #90ee90;
}

.success-modal .modal-content p {
  color: #90ee90;
  margin: 0;
}

.error-modal .modal-content {
  background-color: rgb(62, 12, 12);
  border: 1px solid #ee9090;
}

.error-modal .modal-content p {
  color: #ee9090;
  margin: 0;
}

.logo {
  -webkit-animation: wobble-hor-bottom 0.8s both;
  animation: wobble-hor-bottom 0.8s both;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 73%;
  }
  50% {
    background-position: 100% 28%;
  }
  100% {
    background-position: 0% 73%;
  }
}
@-moz-keyframes gradient {
  0% {
    background-position: 0% 73%;
  }
  50% {
    background-position: 100% 28%;
  }
  100% {
    background-position: 0% 73%;
  }
}
@-o-keyframes gradient {
  0% {
    background-position: 0% 73%;
  }
  50% {
    background-position: 100% 28%;
  }
  100% {
    background-position: 0% 73%;
  }
}
@keyframes gradient {
  0% {
    background-position: 0% 73%;
  }
  50% {
    background-position: 100% 28%;
  }
  100% {
    background-position: 0% 73%;
  }
}

@-webkit-keyframes wobble-hor-bottom {
  0%,
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
    transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
    transform: translateX(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
    transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
    transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
    transform: translateX(-6px) rotate(-1.2deg);
  }
}
@keyframes wobble-hor-bottom {
  0%,
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
    transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
    transform: translateX(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
    transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
    transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
    transform: translateX(-6px) rotate(-1.2deg);
  }
}
